In [1]:
import pandas as pd
import tensorflow as tf
import keras
import os.path
import numpy as np

from keras.utils import np_utils
from datetime import datetime
from sklearn.model_selection import train_test_split

print(tf.VERSION)
print(keras.__version__)

Using TensorFlow backend.

1.9.0
2.2.0

# Read-in data

In [23]:
train_pd = pd.read_csv('./datasets/train.csv', sep=',', header=0)
# the columns (SQBage, agesq) and (tamhog, hhsize, hogar_total) are identical - REMOVE THEM
train_pd.drop(columns=['SQBage', 'tamhog', 'hogar_total'], inplace=True)

len(train_pd.columns)

140

## Getting to know the data

Check if there is more than 1 household head per household

Group by *idhogar* (household key) and then check column *parentesco1*

In [4]:
idhogar_aggregated = train_pd.groupby('idhogar').parentesco1.sum()

In [8]:
idhogar_aggregated[idhogar_aggregated != 1]

idhogar
03c6bdf85    0
09b195e7a    0
1367ab31d    0
1bc617b23    0
374ca5a19    0
61c10e099    0
6b1b2405f    0
896fe6d3e    0
a0812ef17    0
ad687ad89    0
b1f4d89d7    0
bfd5067c2    0
c0c8a5013    0
d363d9183    0
f2bfa75c4    0
Name: parentesco1, dtype: int64

There are 15 households with no household head

Check if the poverty label is the same for all members of a household

In [12]:
target_aggregated = train_pd.groupby('idhogar').Target.aggregate(['min', 'max'])

target_aggregated['poverty_different'] = target_aggregated['min'] != target_aggregated['max']
target_aggregated.loc[target_aggregated['poverty_different']]

           min  max  poverty_different
idhogar
0172ab1d9    2    3               True
03f4e5f4d    1    2               True
0511912b6    3    4               True
078a0b6e2    1    2               True
09e25d616    1    2               True
0f3e65c83    1    2               True
0f9494d3a    2    3               True
15a891635    1    2               True
17fb04a62    1    2               True
18832b840    2    3               True
26b3a0f41    3    4               True
288579c97    1    2               True
28893b5e7    2    3               True
2c9872b82    1    2               True
2cb443214    2    3               True
309fb7246    2    3               True
30a70901d    1    2               True
3c6973219    2    4               True
3c73c107f    1    2               True
3df651058    1    2               True
3fe29a56b    2    3               True
410194c8b    1    2               True
417865404    1    2               True
42ec8bef5    2    3               True
43b9c83e5    1    2               True
44f219a16    2    3               True
46af47063    1    2               True
4b6077882    1    2               True
4c2dba109    2    3               True
4dc11e11f    1    2               True
...        ...  ...                ...
80a66379b    1    2               True
811a35744    3    4               True
8242a51ec    2    3               True
8420bcfca    3    4               True
8ae3e74ca    1    2               True
8bb6da3c1    2    3               True
932287f5d    1    2               True
9bbf7c6ca    1    2               True
a20ff33ba    1    2               True
a3288e6fa    2    3               True
a94a45642    1    2               True
bcaa2e2f5    3    4               True
bcab69521    1    2               True
bd82509d1    2    3               True
be91da044    2    3               True
c13325faf    3    4               True
c38913488    1    2               True
c7ce4e30c    1    2               True
cc971b690    2    3               True
d64524b6b    3    4               True
d9b1558b5    1    2               True
daafc1281    2    3               True
dfb966eec    1    2               True
e17b252ed    2    3               True
e235a4eec    2    3               True
e65d4b943    2    3               True
efd3aec61    2    3               True
f006348ed    2    3               True
f7b421c2c    1    2               True
f94589d38    1    2               True

[85 rows x 3 columns]

It is not, meaning that members of a given household can have different poverty levels.

In [13]:
train_pd.loc[train_pd['idhogar'] == '0172ab1d9']

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
7651,ID_a5e2b0639,NaN,0,5,0,1,1,0,NaN,0,...,49,196,25,36,4,2.777778,0.444444,58.777775,196,3
7652,ID_5dfdf4ebe,NaN,0,5,0,1,1,0,NaN,0,...,100,289,25,36,4,2.777778,0.444444,58.777775,289,2
7653,ID_762e1fd96,NaN,0,5,0,1,1,0,NaN,0,...,36,2601,25,36,4,2.777778,0.444444,58.777775,2601,3
7654,ID_c76b87004,NaN,0,5,0,1,1,0,NaN,0,...,36,2304,25,36,4,2.777778,0.444444,58.777775,2304,3
7655,ID_1dffe3dcf,NaN,0,5,0,1,1,0,NaN,0,...,121,441,25,36,4,2.777778,0.444444,58.777775,441,2

# Define the network

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, BatchNormalization
from keras.optimizers import RMSprop, Adam
from keras.utils import vis_utils

def instantiate_model():
    m = Sequential([
        Dense(units=40, input_shape=(139,), activation='relu', use_bias=True, init='glorot_normal'),
        Dense(units=20, activation='relu', use_bias=True, init='glorot_normal'),
        Dropout(rate=0.3),
        Dense(units=1, activation='linear', use_bias=True, kernel_initializer='glorot_normal')
    ])
    m.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return m